<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
      <link rel="stylesheet" href="/styles/create-product-styles.css">
      <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

<h1 class="title">My Sport Shop</h1>
<nav>
     <a href="/">Inicio</a>
     <a href="/products">Productos</a>
   
	<div class="animation start-home"></div>
</nav>

<h1 class="title" >Crear Producto</h1>



    <form action="/products/create" method="POST" enctype="multipart/form-data">

        <label>
            <p>nombre</p>
            <input name="name" type="text" required placeholder="nombre">
        </label>

        <label>
            <p>categoria</p>
            <input name="category" type="text" required placeholder="category">
        </label>

        <label>
            <p>descripción</p>
            <input name="description" type="text" required placeholder="description">
        </label>

        <label>
            <p>price</p>
            <input name="price" type="number" required placeholder="Precio">
        </label>

        <label>
            <p>imagen</p>
            <input name="image" type="file" required accept="jpg,jpeg,png">
        </label>

        <div>
            <button type="submit">Crear producto</button>
        </div>

        {{#if error}}
            <div style="color: red">{{error}}</div>
        {{/if}}
    </form>
    </div>
</body>
</html>