<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
      <link rel="stylesheet" href="/styles/edit-product-styles.css">
      <link rel="stylesheet" href="/styles/styles.css">
       <link rel="stylesheet" href="/styles/general.css">
</head>
<body>
  
    <h1 class="title">My Sport Shop</h1>
   
<nav>
     <a href="/">Inicio</a>
     <a href="/products">Productos</a>
   
	<div class="animation start-home"></div>
</nav>

 <h1 class="title">Editar {{product.name}}</h1>



    <form action="/products/edit/{{product._id}}?_method=PUT" method="POST" enctype="multipart/form-data">

        <label>
            <p>nombre</p>
            <input name="name" value="{{product.name}}" type="text" required placeholder="nombre">
        </label>

        <label>
            <p>categoria</p>
            <input name="category" value="{{product.category}}" type="text" required placeholder="category">
        </label>

        <label>
            <p>descripción</p>
            <input name="description" value="{{product.description}}" type="text" required placeholder="description">
        </label>

        <label>
            <p>price</p>
            <input name="price" type="number" value="{{product.price}}" required placeholder="Precio">
        </label>

        <label>
            <p>imagen</p>
            <input name="image" type="file" accept="jpg,jpeg,png">
        </label>

        <div>
            <button type="submit">Editar producto</button>
        </div>

    </form>
</body> 
</html>