<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{status}}</title>
      <link rel="stylesheet" href="/styles/styles.css">
      <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

<h1 class="title">My Sport Shop</h1>

<h1>Algo va mal, disculpe las molestias {{ status }} </h1>
 
<nav>
     <a href="/">Inicio</a>
    
	<div class="animation start-home"></div>
</nav>

 <h4>{{message}}</h4>
</body>
</html>