<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My_Shop</title>
  <link rel="stylesheet" href="/styles/index-styles.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>


<body>

  <h1 class="title">My Sport Shop</h1>
 
  <div>
    <h1>Hola...{{user.fullName}}</h1>
  </div>

  {{#if user}}{{else}}
  <nav>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
     <a href="/products">Productos</a>
     <div class="animation start-home"></div>
  </nav>


  {{/if}}
  
  <nav>
    
    <a href="/products">Productos</a>

    <div class="animation start-home"></div>
  </nav>

    {{#if user}}
    <div class="logout">
      <form action="/auth/logout" method="POST">
        <input class="index__botton" type="submit" value="Logout" />
      </form>
    </div>
    {{/if}}
  </nav>


  </div>


</body>

</html>