<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
      <link rel="stylesheet" href="/styles/products-style.css">
      <link rel="stylesheet" href="/styles/styles.css">
    
</head>
<body>
   


<h1 class="title">My Sport Shop</h1>

<nav>
     <a href="/">Inicio</a>
     <a href="/products/create">Crear</a>
   
	<div class="animation start-home"></div>
</nav>

<h1 class="title">Productos</h1>

    <div class="grid-container">
        {{#each products}}
            <div class="grid-item">
                
                <h4>
                    <a href="/products/{{_id}}">
                        Nombre: {{name}}
                    </a>
                </h4>
                <h4>description: {{description}}</h4>
                <h4>Categoria: {{category}}</h4>
               

                {{#if image}}
                    <div>
                        <img class="image" src="{{image}}" alt="imagen de producto">
                    </div>
                {{/if}}
                 <h4>Precio: {{price}}</h4>

                {{#if ../isAdmin}}
                    <div class="product__box">
                        <a href="/products/edit/{{_id}}">
                            <button>Editar producto</button>
                        </a>
                   
                      <form action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                        <button type="submit">Eliminar</button>
                      </form>
                   
                       {{/if}}

                       {{#if ../user}}
                       <form action="/cart/add-to-cart/{{_id}}" method="POST">
                        <button type="submit">Añadir al carrito</button>
                       </form>
                       {{/if}}
                    </div> 
            </div>
            
            
        {{/each}}
    </div>
</body>
</html>