a{
    text-decoration: none;
  }

  .index__title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: blanchedalmond;  
  }


.create-product__header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  list-style: none;
  font-size: 50px;
  margin-top: 50px;
  background-color: blanchedalmond;
}

.create-product__title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    list-style: none;
    font-size: 50px;
    margin-top: 50px;
    background-color: blanchedalmond;
    
  }

  .create-product__body{
    background-color: blanchedalmond;
  }

  
.index_li{
    position:relative;
    list-style-type: none;
    margin-right: 70px;
    /*margin-bottom: 70px;*/
  
  }




  form{
    padding: 60px;
    max-width: 700px;
    background-color: #E7E7E7;
    margin: 0 auto;
  }
  
  form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: horizontal; 
  }
  
  form button {
      display: block;
      background-color: #0095eb;
      padding: 10px 45px 10px 45px;
      border: 0;
      font-size: 1em; 
      color: 	white;
    font-family: "Roboto", sans-serif;
  }
  
