
.index__title{

  display: flex;
  justify-content: center;
  font-size: 70px;
  background-color: blanchedalmond;

}

.index__menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 720px;
  margin: 25 auto;
  height: 100vh;
  list-style: none;
  font-size: 50px;
  
}

.index_li{
  position:relative;
  list-style-type: none;
  margin-right: 70px;

}

.index_li1{
  position:relative;
  list-style-type: none;
  margin-left: 70px;
  font-size: 50px;
 
}

.index__botton{
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*max-width: 720px;*/
  margin: 25 auto;
  height: 50px;
  list-style: none;
  font-size: 30px;

}

a{
  text-decoration: none;
}


