
.image {
    max-width: 350px;
}

a{
    text-decoration: none;
  }

.product__box{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;

}

.index__title{

    display: flex;
    justify-content: center;
    font-size: 20px;
   /* background-color: blanchedalmond;*/
    width: 100%;
  
  }

.grid-container{
display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #2196F3;*/
  padding: 100px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }


  .create-product__header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    list-style: none;
    font-size: 50px;
    margin-top: 50px;
   
  }
  
.index_li{
    position:relative;
    list-style-type: none;
    margin-right: 70px;
    margin-bottom: 20px;
  
  }
  .header{
    background-color: blanchedalmond;

  }